@model IEnumerable<SpaceBook.Models.Facility>
@{
    ViewBag.Title = "Owner Facilities";
}

<br />

<h2>Your Facilities</h2>

<div class="row">
    @foreach (var result in Model) {
        <div class="col-sm-4">
            <div class="card" style="margin:4%">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelResult => result.Name)</h5>
                    <hr />
                    <div style="text-align:center; margin:5% 0% 5% 0%">
                        <img class="card-img-top" src="@Url.Content("~/Content/FacilityPhotos/" + @result.FacilityPhotoFileName.ToString())" alt="Card image cap" height="200" style="width:300px;">
                    </div>
                    <hr />
                    <p class="card-text">@Html.DisplayFor(modelResult => result.Description)</p>
                    <hr />
                    <button type="button" onclick="location.href='@Url.Action("ViewFacility", new { Id = result.Id })'" class="btn btn-primary btn-sm">View Facility</button>
                    <br />
                    <button type="button" onclick="location.href='@Url.Action("EditFacilityInfo", new { Id = result.Id })'" class="btn btn-primary btn-sm" style="margin-top:2%">Edit Facility Info</button>
                    <button type="button" onclick="location.href='@Url.Action("EditFacilityHours", new { Id = result.Id })'" class="btn btn-primary btn-sm" style="margin-top:2%">Edit Facility Hours</button>
                    <button type="button" onclick="location.href='@Url.Action("EditFacilityPhoto", new { facilityId = result.Id })'" class="btn btn-primary btn-sm" style="margin-top:2%">Edit Facility Photo</button>

                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-danger" style="margin-top:2%; color:white">
                        @Html.ActionLink("Delete Facility", "UnactivateFacility", "Home",
                        new { confirm = true, id = result.Id},
                        new { onclick = "return confirm('Are you sure you want to delete this facility?')", @class = "btn-danger" })
                    </button>
                </div>
            </div>
        </div>
    }

    @if (Model.Count() < 1) {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">You do not have any registered facilities</h6>
                    <button type="button" onclick="location.href='@Url.Action("Index")'" class="btn btn-link">Return Home</button>
                </div>
            </div>
        </div>
    }

</div>
<br />



