@model IEnumerable<SpaceBook.Models.FacilityTime>
<h3>Time Slots</h3>
<div class="col-md-6">
        @if (Model.Count() > 0)
        {
            <table style="float:left" class="table table-striped col-md-2 table-sm">
                @for (int x = 0; x < (Model.Count() > 8 ? 8 : Model.Count()); x++)
                {
                    <tr>
                        @if (Model.ElementAtOrDefault(x).IsAvailable == true)
                        {
                            <td>
                                <button href="#" class="bookTime btn btn-sm btn-primary"
                                        data-time="@Model.ElementAtOrDefault(x).StartTime"
                                        data-facilityId="@Model.ElementAtOrDefault(x).FacilityId"
                                        data-ftId="@Model.ElementAtOrDefault(x).Id">
                                    @Html.DisplayFor(modelItem => Model.ElementAtOrDefault(x).StartTime)
                                </button>
                            </td>
                        }
                        else
                        {
                            <td><button disabled href="#" class="btn btn-sm btn-primary">@Html.DisplayFor(modelItem => Model.ElementAtOrDefault(x).StartTime)</button></td>
                        }
                    </tr>
                }
            </table>
        }

        @if (Model.Count() > 8)
        {
            <table style="float:left" class="table table-striped col-md-2 table-sm ">
                @for (int x = 8; x < (Model.Count() > 16 ? 16 : Model.Count()); x++)
                {
                    <tr>
                        @if (Model.ElementAtOrDefault(x).IsAvailable == true)
                        {
                            <td>
                                <button href="#" class="bookTime btn btn-sm btn-primary"
                                        data-time="@Model.ElementAtOrDefault(x).StartTime"
                                        data-facilityId="@Model.ElementAtOrDefault(x).FacilityId"
                                        data-ftId="@Model.ElementAtOrDefault(x).Id">
                                    @Html.DisplayFor(modelItem => Model.ElementAtOrDefault(x).StartTime)
                                </button>
                            </td>
                        }
                        else
                        {
                            <td><button disabled href="#" class="btn btn-sm btn-primary">@Html.DisplayFor(modelItem => Model.ElementAtOrDefault(x).StartTime)</button></td>
                        }
                    </tr>
                }
            </table>
        }

        @if (Model.Count() > 16)
        {
            <table style="float:left" class="table table-striped col-md-2 table-sm ">
                @for (int x = 16; x < (Model.Count() > 24 ? 24 : Model.Count()); x++)
                {
                    <tr>
                        @if (Model.ElementAtOrDefault(x).IsAvailable == true)
                        {
                            <td>
                                <button href="#" class="bookTime btn btn-sm btn-primary"
                                        data-time="@Model.ElementAtOrDefault(x).StartTime"
                                        data-facilityId="@Model.ElementAtOrDefault(x).FacilityId"
                                        data-ftId="@Model.ElementAtOrDefault(x).Id">
                                    @Html.DisplayFor(modelItem => Model.ElementAtOrDefault(x).StartTime)
                                </button>
                            </td>
                        }
                        else
                        {
                            <td><button disabled href="#" class="btn btn-sm btn-primary">@Html.DisplayFor(modelItem => Model.ElementAtOrDefault(x).StartTime)</button></td>
                        }
                    </tr>
                }
            </table>
        }

        @if (Model.Count() > 24)
        {
            <table style="float:left" class="table table-striped col-md-2 table-sm ">
                @for (int x = 24; x < (Model.Count() > 32 ? 32 : Model.Count()); x++)
                {
                    <tr>
                        @if (Model.ElementAtOrDefault(x).IsAvailable == true)
                        {
                            <td>
                                <button href="#" class="bookTime btn btn-sm btn-primary"
                                        data-time="@Model.ElementAtOrDefault(x).StartTime"
                                        data-facilityId="@Model.ElementAtOrDefault(x).FacilityId"
                                        data-ftId="@Model.ElementAtOrDefault(x).Id">
                                    @Html.DisplayFor(modelItem => Model.ElementAtOrDefault(x).StartTime)
                                </button>
                            </td>
                        }
                        else
                        {
                            <td><button disabled href="#" class="btn btn-sm btn-primary">@Html.DisplayFor(modelItem => Model.ElementAtOrDefault(x).StartTime)</button></td>
                        }
                    </tr>
                }
            </table>
        }

        @if (Model.Count() > 32)
        {
            <table style="float:left" class="table table-striped col-md-2 table-sm ">
                @for (int x = 32; x < (Model.Count() > 40 ? 40 : Model.Count()); x++)
                {
                    <tr>
                        @if (Model.ElementAtOrDefault(x).IsAvailable == true)
                        {
                            <td>
                                <button href="#" class="bookTime btn btn-sm btn-primary"
                                        data-time="@Model.ElementAtOrDefault(x).StartTime"
                                        data-facilityId="@Model.ElementAtOrDefault(x).FacilityId"
                                        data-ftId="@Model.ElementAtOrDefault(x).Id"
                                        data-dayOfWeek="@Model.ElementAtOrDefault(x).Day">
                                    @Html.DisplayFor(modelItem => Model.ElementAtOrDefault(x).StartTime)
                                </button>
                            </td>
                        }
                        else
                        {
                            <td><button disabled href="#" class="btn btn-sm btn-primary">@Html.DisplayFor(modelItem => Model.ElementAtOrDefault(x).StartTime)</button></td>
                        }
                    </tr>
                }
            </table>
        }
        @if (Model.Count() > 40)
        {
            <table style="float:left" class="table table-striped col-md-2 table-sm ">
                @for (int x = 40; x < (Model.Count() > 48 ? 48 : Model.Count()); x++)
                {
                    <tr>
                        @if (Model.ElementAtOrDefault(x).IsAvailable == true)
                        {
                            <td>
                                <button href="#" class="bookTime btn btn-sm btn-primary"
                                        data-time="@Model.ElementAtOrDefault(x).StartTime"
                                        data-facilityId="@Model.ElementAtOrDefault(x).FacilityId"
                                        data-ftId="@Model.ElementAtOrDefault(x).Id"
                                        data-dayOfWeek="@Model.ElementAtOrDefault(x).Day">
                                    @Html.DisplayFor(modelItem => Model.ElementAtOrDefault(x).StartTime)
                                </button>
                            </td>
                        }
                        else
                        {
                            <td><button disabled href="#" class="btn btn-sm btn-primary">@Html.DisplayFor(modelItem => Model.ElementAtOrDefault(x).StartTime)</button></td>
                        }
                    </tr>
                }
            </table>
        }
    </div>

<div>
    <h3>Start Time: </h3>
    <p id="start">Choose Start Time</p>
    <button href="#" disabled="disabled" id="confirmStart" class="confirmStart btn btn-sm btn-primary">Confirm Start</button>
    <h3>End Time: </h3>
    <p id="end">Choose End Time</p>
    <button href="#" disabled="disabled" id="confirmEnd" class="confirmEnd btn btn-sm btn-primary">Confirm End</button>
    <button href="#" disabled="disabled" id="cancelBooking" class="cancelBooking btn btn-sm btn-primary">Cancel</button>
    <button href="#" disabled="disabled" id="submitBooking" class="submitBooking btn btn-sm btn-primary">Submit</button>

</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.bookTime').click(function () {

            var $buttonClicked = $(this);
            var confirmStartDisabled = $('#confirmStart').is(':disabled');
            var confirmEndDisabled = $('#confirmEnd').is(':disabled');
            var timesConfirmedDisabled = $('#submitBooking').is(':disabled');
            var time = $buttonClicked.attr('data-time');

            $.ajax({
                data: {
                    time: time,
                    confirmStartDisabled: confirmStartDisabled,
                    confirmEndDisabled: confirmEndDisabled,
                    timesConfirmedDisabled: timesConfirmedDisabled
                },
                success: function (partialView) {
                    //checks for the initial state of the page (before any time slots have been selected)
                    if (confirmStartDisabled == true && confirmEndDisabled == true
                        && timesConfirmedDisabled == true) {
                        $('#confirmStart').attr('disabled', false);
                        $('#start').text(time);
                    }
                    //checks whether the user is choosing the start or end time of the booking
                    else if (confirmStartDisabled == false && confirmEndDisabled == true)
                        $('#start').text(time);
                    else if (confirmStartDisabled == true && confirmEndDisabled == false)
                        $('#end').text(time);
                }

            });

        });
    });

</script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#confirmStart').click(function () {

            var $buttonClicked = $(this);
            $('#confirmStart').attr('disabled', true);
            $('#confirmEnd').attr('disabled', false);
            var StartTime = $('#start').text();

            $.ajax({
                url: '/Home/confirmStart',
                type: 'POST',
                data: {
                    StartTime: StartTime
                },
                success: function (partialView) {
                }
            });

        });
    });

</script>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#confirmEnd').click(function () {

            var $buttonClicked = $(this);
            $('#confirmStart').attr('disabled', true);
            $('#confirmEnd').attr('disabled', true);
            var EndTime = $('#end').text();

            $.ajax({
                url: '/Home/confirmEnd',
                type: 'POST',
                data: {
                    EndTime: EndTime
                },
                success: function (partialView) {
                }
            });

        });
    });

</script>