@model SpaceBook.ViewModels.facilityTimesAndBookingsViewModel

<h3>Time Slots</h3>
<div class="col-md-6">
    @if (Model.times.Count() > 0)
    {
        <table style="float:left" class="table table-striped col-md-2 table-sm">
            @for (int x = 0; x < (Model.times.Count() > 8 ? 8 : Model.times.Count()); x++)
            {
                var disableIt = "0";
                var isIntersecting = "0";
                var beforeCurrentDayTime = "0";

                //checks if timeslot has already passed compared to the current time
                beforeCurrentDayTime = Html.Action("isBeforeCurrentDayTime", "Home", new { time = Model.times.ElementAtOrDefault(x) }).ToString();
                if (beforeCurrentDayTime == "1")
                {
                    disableIt = "1";
                }

                if (disableIt == "0")
                {
                    //checks each booking for the current facility in the selected week
                    for (int y = 0; y < Model.bookings.Count(); y++)
                    {

                        //checks if booking intersects with current time slot
                        isIntersecting = Html.Action("getIntersection", "Home",
                        new { booking = Model.bookings.ElementAtOrDefault(y), time = Model.times.ElementAtOrDefault(x) }).ToString();

                        //if a booking exists during the timeslot, disable the button
                        if (isIntersecting == "1")
                        {
                            disableIt = "1";
                            break;
                        }
                        else
                        {
                            disableIt = "0";
                        }
                    }
                }
                <tr>
                    @if (Model.times.ElementAtOrDefault(x).IsAvailable == true && disableIt == "0")
                    { //generates enabled button if the timeslot is free Html.DisplayFor(modelItem => Model.times.ElementAtOrDefault(x).StartTime)
                    <td>
                        <button href="#" class="bookTime btn btn-sm btn-primary"
                                data-time="@Model.times.ElementAtOrDefault(x).StartTime"
                                data-timeEnd="@Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))"
                                data-timeStartAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime }).ToString()"
                                data-timeEndAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))}).ToString()"
                                data-rate="@Decimal.Round(Model.times.ElementAtOrDefault(x).Rate.Value, 2).ToString()"
                                data-available="available">
                            @Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value }).ToString()
                        </button>
                        
                    </td>
                    }
                    else
                    {
                        <td>
                            <button disabled href="#" class="bookTime btn btn-sm btn-primary"
                                    data-time="@Model.times.ElementAtOrDefault(x).StartTime"
                                    data-timeEnd="@Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))"
                                    data-timeStartAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime }).ToString()"
                                    data-timeEndAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))}).ToString()"
                                    data-rate="@Decimal.Round(Model.times.ElementAtOrDefault(x).Rate.Value, 2).ToString()"
                                    data-available="notAvailable">
                                @Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value }).ToString()
                            </button>
                        </td>
                    }
                </tr>
            }
        </table>
    }

    @if (Model.times.Count() > 8)
    {
        <table style="float:left" class="table table-striped col-md-2 table-sm ">
            @for (int x = 8; x < (Model.times.Count() > 16 ? 16 : Model.times.Count()); x++)
            {
                var disableIt = "0";
                var isIntersecting = "0";
                var beforeCurrentDayTime = "0";

                //checks if timeslot has already passed
                beforeCurrentDayTime = Html.Action("isBeforeCurrentDayTime", "Home", new { time = Model.times.ElementAtOrDefault(x) }).ToString();
                if (beforeCurrentDayTime == "1")
                {
                    disableIt = "1";
                }

                if (disableIt == "0")
                {
                    //checks each booking for the current facility in the selected week
                    for (int y = 0; y < Model.bookings.Count(); y++)
                    {

                        //checks if booking intersects with current time slot
                        isIntersecting = Html.Action("getIntersection", "Home",
                        new { booking = Model.bookings.ElementAtOrDefault(y), time = Model.times.ElementAtOrDefault(x) }).ToString();

                        //if a booking exists during the timeslot, disable the button
                        if (isIntersecting == "1")
                        {
                            disableIt = "1";
                            break;
                        }
                        else
                        {
                            disableIt = "0";
                        }
                    }
                }
                <tr>
                    @if (Model.times.ElementAtOrDefault(x).IsAvailable == true && disableIt == "0")
                    { //generates enabled button if the timeslot is free Html.DisplayFor(modelItem => Model.times.ElementAtOrDefault(x).StartTime)
                        <td>
                            <button href="#" class="bookTime btn btn-sm btn-primary"
                                    data-time="@Model.times.ElementAtOrDefault(x).StartTime"
                                    data-timeEnd="@Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))"
                                    data-timeStartAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime }).ToString()"
                                    data-timeEndAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))}).ToString()"
                                    data-rate="@Decimal.Round(Model.times.ElementAtOrDefault(x).Rate.Value, 2).ToString()"
                                    data-available="available">
                                @Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value }).ToString()
                            </button>
                        </td>
                    }
                    else
                    {
                        <td>
                            <button disabled href="#" class="bookTime btn btn-sm btn-primary"
                                    data-time="@Model.times.ElementAtOrDefault(x).StartTime"
                                    data-timeEnd="@Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))"
                                    data-timeStartAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime }).ToString()"
                                    data-timeEndAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))}).ToString()"
                                    data-rate="@Decimal.Round(Model.times.ElementAtOrDefault(x).Rate.Value, 2).ToString()"
                                    data-available="notAvailable">
                                @Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value }).ToString()
                            </button>
                        </td>
                    }
                </tr>
            }
        </table>
    }

    @if (Model.times.Count() > 16)
    {
        <table style="float:left" class="table table-striped col-md-2 table-sm ">
            @for (int x = 16; x < (Model.times.Count() > 24 ? 24 : Model.times.Count()); x++)
            {
                var disableIt = "0";
                var isIntersecting = "0";
                var beforeCurrentDayTime = "0";

                //checks if timeslot has already passed
                beforeCurrentDayTime = Html.Action("isBeforeCurrentDayTime", "Home", new { time = Model.times.ElementAtOrDefault(x) }).ToString();
                if (beforeCurrentDayTime == "1")
                {
                    disableIt = "1";
                }

                if (disableIt == "0")
                {
                    //checks each booking for the current facility in the selected week
                    for (int y = 0; y < Model.bookings.Count(); y++)
                    {

                        //checks if booking intersects with current time slot
                        isIntersecting = Html.Action("getIntersection", "Home",
                        new { booking = Model.bookings.ElementAtOrDefault(y), time = Model.times.ElementAtOrDefault(x) }).ToString();

                        //if a booking exists during the timeslot, disable the button
                        if (isIntersecting == "1")
                        {
                            disableIt = "1";
                            break;
                        }
                        else
                        {
                            disableIt = "0";
                        }
                    }
                }
                <tr>
                    @if (Model.times.ElementAtOrDefault(x).IsAvailable == true && disableIt == "0")
                    { //generates enabled button if the timeslot is free Html.DisplayFor(modelItem => Model.times.ElementAtOrDefault(x).StartTime)
                        <td>
                            <button href="#" class="bookTime btn btn-sm btn-primary"
                                    data-time="@Model.times.ElementAtOrDefault(x).StartTime"
                                    data-timeEnd="@Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))"
                                    data-timeStartAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime }).ToString()"
                                    data-timeEndAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))}).ToString()"
                                    data-rate="@Decimal.Round(Model.times.ElementAtOrDefault(x).Rate.Value, 2).ToString()"
                                    data-available="available">
                                @Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value }).ToString()
                            </button>
                        </td>
                    }
                    else
                    {
                        <td>
                            <button disabled href="#" class="bookTime btn btn-sm btn-primary"
                                    data-time="@Model.times.ElementAtOrDefault(x).StartTime"
                                    data-timeEnd="@Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))"
                                    data-timeStartAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime }).ToString()"
                                    data-timeEndAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))}).ToString()"
                                    data-rate="@Decimal.Round(Model.times.ElementAtOrDefault(x).Rate.Value, 2).ToString()"
                                    data-available="notAvailable">
                                @Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value }).ToString()
                            </button>
                        </td>
                    }
                </tr>
            }
        </table>
    }

    @if (Model.times.Count() > 24)
    {
        <table style="float:left" class="table table-striped col-md-2 table-sm ">
            @for (int x = 24; x < (Model.times.Count() > 32 ? 32 : Model.times.Count()); x++)
            {
                var disableIt = "0";
                var isIntersecting = "0";
                var beforeCurrentDayTime = "0";

                //checks if timeslot has already passed
                beforeCurrentDayTime = Html.Action("isBeforeCurrentDayTime", "Home", new { time = Model.times.ElementAtOrDefault(x) }).ToString();
                if (beforeCurrentDayTime == "1")
                {
                    disableIt = "1";
                }

                if (disableIt == "0")
                {
                    //checks each booking for the current facility in the selected week
                    for (int y = 0; y < Model.bookings.Count(); y++)
                    {

                        //checks if booking intersects with current time slot
                        isIntersecting = Html.Action("getIntersection", "Home",
                        new { booking = Model.bookings.ElementAtOrDefault(y), time = Model.times.ElementAtOrDefault(x) }).ToString();

                        //if a booking exists during the timeslot, disable the button
                        if (isIntersecting == "1")
                        {
                            disableIt = "1";
                            break;
                        }
                        else
                        {
                            disableIt = "0";
                        }
                    }
                }
                <tr>
                    @if (Model.times.ElementAtOrDefault(x).IsAvailable == true && disableIt == "0")
                    { //generates enabled button if the timeslot is free Html.DisplayFor(modelItem => Model.times.ElementAtOrDefault(x).StartTime)
                        <td>
                            <button href="#" class="bookTime btn btn-sm btn-primary"
                                    data-time="@Model.times.ElementAtOrDefault(x).StartTime"
                                    data-timeEnd="@Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))"
                                    data-timeStartAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime }).ToString()"
                                    data-timeEndAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))}).ToString()"
                                    data-rate="@Decimal.Round(Model.times.ElementAtOrDefault(x).Rate.Value, 2).ToString()"
                                    data-available="available">
                                @Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value }).ToString()
                            </button>
                        </td>
                    }
                    else
                    {
                        <td>
                            <button disabled href="#" class="bookTime btn btn-sm btn-primary"
                                    data-time="@Model.times.ElementAtOrDefault(x).StartTime"
                                    data-timeEnd="@Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))"
                                    data-timeStartAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime }).ToString()"
                                    data-timeEndAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))}).ToString()"
                                    data-rate="@Decimal.Round(Model.times.ElementAtOrDefault(x).Rate.Value, 2).ToString()"
                                    data-available="notAvailable">
                                @Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value }).ToString()
                            </button>
                        </td>
                    }
                </tr>
            }
        </table>
    }

    @if (Model.times.Count() > 32)
    {
        <table style="float:left" class="table table-striped col-md-2 table-sm ">
            @for (int x = 32; x < (Model.times.Count() > 40 ? 40 : Model.times.Count()); x++)
            {
                var disableIt = "0";
                var isIntersecting = "0";
                var beforeCurrentDayTime = "0";

                //checks if timeslot has already passed
                beforeCurrentDayTime = Html.Action("isBeforeCurrentDayTime", "Home", new { time = Model.times.ElementAtOrDefault(x) }).ToString();
                if (beforeCurrentDayTime == "1")
                {
                    disableIt = "1";
                }

                if (disableIt == "0")
                {
                    //checks each booking for the current facility in the selected week
                    for (int y = 0; y < Model.bookings.Count(); y++)
                    {

                        //checks if booking intersects with current time slot
                        isIntersecting = Html.Action("getIntersection", "Home",
                        new { booking = Model.bookings.ElementAtOrDefault(y), time = Model.times.ElementAtOrDefault(x) }).ToString();

                        //if a booking exists during the timeslot, disable the button
                        if (isIntersecting == "1")
                        {
                            disableIt = "1";
                            break;
                        }
                        else
                        {
                            disableIt = "0";
                        }
                    }
                }
                <tr>
                    @if (Model.times.ElementAtOrDefault(x).IsAvailable == true && disableIt == "0")
                    { //generates enabled button if the timeslot is free Html.DisplayFor(modelItem => Model.times.ElementAtOrDefault(x).StartTime)
                        <td>
                            <button href="#" class="bookTime btn btn-sm btn-primary"
                                    data-time="@Model.times.ElementAtOrDefault(x).StartTime"
                                    data-timeEnd="@Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))"
                                    data-timeStartAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime }).ToString()"
                                    data-timeEndAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))}).ToString()"
                                    data-rate="@Decimal.Round(Model.times.ElementAtOrDefault(x).Rate.Value, 2).ToString()"
                                    data-available="available">
                                @Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value }).ToString()
                            </button>
                        </td>
                    }
                    else
                    {
                        <td>
                            <button disabled href="#" class="bookTime btn btn-sm btn-primary"
                                    data-time="@Model.times.ElementAtOrDefault(x).StartTime"
                                    data-timeEnd="@Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))"
                                    data-timeStartAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime }).ToString()"
                                    data-timeEndAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))}).ToString()"
                                    data-rate="@Decimal.Round(Model.times.ElementAtOrDefault(x).Rate.Value, 2).ToString()"
                                    data-available="notAvailable">
                                @Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value }).ToString()
                            </button>
                        </td>
                    }
                </tr>
            }
        </table>
    }
    @if (Model.times.Count() > 40)
    {
        <table style="float:left" class="table table-striped col-md-2 table-sm ">
            @for (int x = 40; x < (Model.times.Count() > 48 ? 48 : Model.times.Count()); x++)
            {
                var disableIt = "0";
                var isIntersecting = "0";
                var beforeCurrentDayTime = "0";

                //checks if timeslot has already passed
                beforeCurrentDayTime = Html.Action("isBeforeCurrentDayTime", "Home", new { time = Model.times.ElementAtOrDefault(x) }).ToString();
                if (beforeCurrentDayTime == "1")
                {
                    disableIt = "1";
                }

                if (disableIt == "0")
                {
                    //checks each booking for the current facility in the selected week
                    for (int y = 0; y < Model.bookings.Count(); y++)
                    {

                        //checks if booking intersects with current time slot
                        isIntersecting = Html.Action("getIntersection", "Home",
                        new { booking = Model.bookings.ElementAtOrDefault(y), time = Model.times.ElementAtOrDefault(x) }).ToString();

                        //if a booking exists during the timeslot, disable the button
                        if (isIntersecting == "1")
                        {
                            disableIt = "1";
                            break;
                        }
                        else
                        {
                            disableIt = "0";
                        }
                    }
                }
                <tr>
                    @if (Model.times.ElementAtOrDefault(x).IsAvailable == true && disableIt == "0")
                    { //generates enabled button if the timeslot is free Html.DisplayFor(modelItem => Model.times.ElementAtOrDefault(x).StartTime)
                        <td>
                            <button href="#" class="bookTime btn btn-sm btn-primary"
                                    data-time="@Model.times.ElementAtOrDefault(x).StartTime"
                                    data-timeEnd="@Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))"
                                    data-timeStartAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime }).ToString()"
                                    data-timeEndAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))}).ToString()"
                                    data-rate="@Decimal.Round(Model.times.ElementAtOrDefault(x).Rate.Value, 2).ToString()"
                                    data-available="available">
                                @Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value }).ToString()
                            </button>
                        </td>
                    }
                    else
                    {
                        <td>
                            <button disabled href="#" class="bookTime btn btn-sm btn-primary"
                                    data-time="@Model.times.ElementAtOrDefault(x).StartTime"
                                    data-timeEnd="@Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))"
                                    data-timeStartAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime }).ToString()"
                                    data-timeEndAdjusted="@Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value.Add(new TimeSpan(0, 29, 59))}).ToString()"
                                    data-rate="@Decimal.Round(Model.times.ElementAtOrDefault(x).Rate.Value, 2).ToString()"
                                    data-available="notAvailable">
                                @Html.Action("AdjustTime", "Home", new { time = Model.times.ElementAtOrDefault(x).StartTime.Value }).ToString()
                            </button>
                        </td>
                    }
                </tr>
            }
        </table>
    }
</div>

<div>
    <h3>Start Time: </h3>
    <p id="start">Choose Start Time</p>
    <button href="#" disabled="disabled" id="confirmStart" data-realStartTime="ConfirmStart" class="confirmStart btn btn-sm btn-primary">Confirm Start</button>
    <h3>End Time: </h3>
    <p id="end">Choose End Time</p>
    <h3>Cost: </h3>
    <p id="cost" data-totalCost="0.00">-</p>
    <button href="#" disabled="disabled" id="confirmEnd" data-realEndTime="ConfirmEnd" class="confirmEnd btn btn-sm btn-primary">Confirm End</button>
    @Html.ActionLink("Cancel", "ViewFacility", new { id = Model.times.FirstOrDefault().FacilityId }, new { @class = "cancelBooking btn btn-sm btn-primary", @style = "color:white", @id = "cancelBooking" })
    <button href="#" disabled="disabled" id="submitBooking" class="submitBooking btn btn-sm btn-primary">Submit</button>

</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    $(function () {
        $('.bookTime').click(function () {

            $('.bookTime').css("background-color", "#007bff");

            var $buttonClicked = $(this);
            var confirmStartDisabled = $('#confirmStart').is(':disabled');
            var confirmEndDisabled = $('#confirmEnd').is(':disabled');
            var timesConfirmedDisabled = $('#submitBooking').is(':disabled');

            $buttonClicked.css("background-color", "green");
            var time = $buttonClicked.attr('data-timeStartAdjusted');
            var timeEnd = $buttonClicked.attr('data-timeEndAdjusted');

            //checks for the initial state of the page (before any time slots have been selected)
            if (confirmStartDisabled == true && confirmEndDisabled == true
                && timesConfirmedDisabled == true) {
                $('#cancelBooking').attr('disabled', false);
                $('#confirmStart').attr('disabled', false);

                $('#start').text(time);
                $('#start').attr("data-realStartTime", $(this).attr('data-time'));
                $('#end').text(timeEnd);
                $('#end').attr("data-realEndTime", $(this).attr('data-timeEnd'));

                //sets the cost to the rate of the selected timeslot
                $('#cost').text("$" + $(this).attr('data-rate'));
                $('#cost').attr('data-totalCost', $(this).attr('data-rate'));
            }
            //checks whether the user is choosing the start or end time of the booking
            //for choosing the start time
            else if (confirmStartDisabled == false && confirmEndDisabled == true) {
                $('#cancelBooking').attr('disabled', false);
                $('#start').text(time);
                $('#start').attr("data-realStartTime", $(this).attr('data-time'));
                $('#end').text(timeEnd);
                $('#end').attr("data-realEndTime", $(this).attr('data-timeEnd'));

                //sets the cost to the rate of the selected timeslot
                $('#cost').text("$" + $(this).attr('data-rate'));
                $('#cost').attr('data-totalCost', $(this).attr('data-rate'));
            }
            //for choosing the end time
            else if (confirmStartDisabled == true && confirmEndDisabled == false) {
                $('#cancelBooking').attr('disabled', false);
                $('#end').text(timeEnd);
                $('#end').attr("data-realEndTime", $(this).attr('data-timeEnd'));

                //resets the cost of the booking
                $('#cost').attr('data-totalCost', "0.00");

                $('.bookTime').each(function (i) {
                    var time = $(this).attr('data-time');

                    //Once the starting time slot is found, iterates through until the end time slot is found, coloring the buttons that are part of the booking green
                    //also calculates the total cost of the booking given the selected time
                    if (time == $('#start').attr("data-realStartTime")) {
                        $('.bookTime').each(function (j) {
                            if (j < i) return true;

                            var timeEnd = $(this).attr('data-timeEnd');
                            $(this).css("background-color", "green");

                            //updates the cost of the booking

                            //gets the rate of the current time slot
                            var timeSlotRate = $(this).attr('data-rate');
                            //gets the current total cost of the booking
                            var totalCost = $('#cost').attr('data-totalCost');
                            //adds the rate of the time slot to the total cost of the booking
                            var floatCost = (parseFloat(totalCost, 10) + parseFloat(timeSlotRate, 10));

                            //sets the totalCost data attribute of the cost to string representing a float with 2 decimal places and updates the text
                            totalCost = floatCost.toFixed(2).toString();
                            $('#cost').text("$" + totalCost.toString());
                            $('#cost').attr('data-totalCost', totalCost.toString());

                            //once the currently selected end time of the booking is reached, stop colouring time slots green and exit
                            if (timeEnd == $('#end').attr("data-realEndTime"))
                                return false;
                        });
                        return false;
                    }
                });

            }

        });

    });

</script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">


    $(function () {
        $('#confirmStart').click(function () {

            //disables confirm start button, enables confirm end button
            $('#confirmStart').attr('disabled', true);
            $('#confirmEnd').attr('disabled', false);

            //iterates through all the bookTime buttons, diabling all of them up to the selected start time slot
            $('.bookTime').each(function (i) {
                var time = $(this).attr('data-time');
                $(this).attr('disabled', true);

                if (time == $('#start').attr('data-realStartTime')) {
                    //makes sure to enable the start time time slot incase the user only wants to book a half hour time
                    $(this).attr('disabled', false);

                    //Iterates through the remaining enabled buttons and updates their times to reflect the end time of each time slot
                    $('.bookTime').each(function (j) {
                        if (j <= i) return true;
                        $(this).text($(this).attr('data-timeEndAdjusted'));

                        //This disables any time slots separated from the start time by an unavailable time slot
                        //This means you cannot create a booking across an unavailable time slot
                        if ($(this).attr('data-available') == "notAvailable") {
                            $('.bookTime').each(function (k) {
                                if (k <= j) return true;
                                $(this).text($(this).attr('data-timeEndAdjusted'));
                                $(this).attr('disabled', true);
                            });
                        }

                    });

                    return false;
                }
            });

        });
    });

</script>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">


    $(function () {
        $('#confirmEnd').click(function () {

            //enables the submit button and disables all other buttons
            $('#confirmStart').attr('disabled', true);
            $('#confirmEnd').attr('disabled', true);
            $('#submitBooking').attr('disabled', false);
            $('.bookTime').attr('disabled', true);

        });
    });

</script>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#submitBooking').click(function () {

            var StartTime = $('#start').attr('data-realStartTime');
            var EndTime = $('#end').attr('data-realEndTime');
            var cost = $('#cost').attr('data-totalCost');
            //submits booking for insertion into the db
            $('#submitBooking').attr('disabled', true);
            $.ajax({
                url: '/Home/makeBooking',
                type: 'POST',
                data: {
                    StartTime: StartTime,
                    EndTime: EndTime,
                    cost: cost
                },
                success: function () {
                    //returns user to the facility view page upon submission
                    var url = '@Url.Action("ViewFacility", "Home", new { id = Model.times.ElementAtOrDefault(0).FacilityId})';
                    window.location.href = url;
                }
            });

        });
    });

</script>