@model IEnumerable<SpaceBook.Models.Facility>
@{
    ViewBag.Title = "SearchResults";
}
<br />

<h2>Search Results</h2>

<div class="row">
    @foreach (var result in Model) 
    {
    <div class="col-sm-4">
        <div class="card" style="margin:4%">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelResult => result.Name)</h5>
                <hr />
                <div style="text-align:center; margin:5% 0% 5% 0%">
                    <img class="card-img-top" src="\Content\FacilityPhotos\@result.FacilityPhotoFileName" alt="Card image cap" height="200" style="width:300px;">
                </div>
                <hr />
                <p class="card-text">@Html.DisplayFor(modelResult => result.Description)</p>
                <hr />
                <p><span class="fa fa-map-marker fa-fw"></span>@result.Address, @result.City</p>
                <p><span class="fa fa-phone fa-fw"></span>@result.Phone</p>
                <p><span class="fa fa-envelope fa-fw"></span>@result.Email</p>
                <hr />
                <div class="text-center">
                    <button type="button" onclick="location.href='@Url.Action("ViewFacility", new { Id = result.Id })'" class="btn btn-primary">View Facility</button>
                </div>
            </div>
        </div>
    </div>
    }

    @if (Model.Count() < 1) {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Search returned no results</h6>
                    <button type="button" onclick="location.href='@Url.Action("Index")'" class="btn btn-link">Return Home</button>
                </div>
            </div>
        </div>
    }

</div>
<br />

