@model IEnumerable<SpaceBook.Models.Booking>

@{
    ViewBag.Title = "ViewBookings";
}

<h2 style="margin: 2% 0% 2% 0%">Bookings</h2>
<p>
    Show: <a href="@Url.Action("ViewBookings", "Home", "")">All</a> | <a href="@Url.Action("ViewBookings", "Home", new { Filter = "upcoming"})">Upcoming</a> | <a href="@Url.Action("ViewBookings", "Home", new {filter= "completed"})">Completed</a>
</p>
<div class="col-12">
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-3" style="float:left">
                        @*<img class="card-img-top" src="\Content\Images\MosaicStadium.jpg" alt="Card image cap" style="height:100%; width:100%">*@
                        <img class="card-img-top" src="\Content\FacilityPhotos\@item.Facility.FacilityPhotoFileName" alt="Card image cap" height="100" style="width:150px;">
                    </div>
                    <div class="col-6" style="float:left">
                        <a href="@Url.Action("ViewFacility", "Home", new { id = item.FacilityId })">
                            <h2>
                                @item.Facility.Name
                            </h2>
                        </a>
                        <p class="card-text">@item.StartDateTime.Value.ToString("dddd, dd MMMM yyyy")</p>
                    </div>
                    <div class="col-2" style="float:left">
                        <small class="text-muted">@item.StartDateTime.Value.ToShortTimeString() - @item.EndDateTime.Value.AddMinutes(-29).ToShortTimeString()</small>
                        <br />
                        <small class="text-muted">$@Math.Round(item.Cost.Value, 2)</small>
                        <br />
                        @if (!item.Reviews.Any() && item.EndDateTime <= DateTime.Now)
                        {
                            <button style="margin-top:20%" type="button" onclick="location.href='@Url.Action("LeaveReview", new { Id = item.Id })'" class="btn btn-primary">Leave Review</button>
                        }
                        else if (item.Reviews.Any())
                        {
                            <button style="margin-top:20%" type="button" onclick="location.href='@Url.Action("ViewReview", new { Id = item.Reviews.First().Id })'" class="btn btn-primary">See Review</button>
                        }
                        else
                        {
                            <button style="margin-top:20%" type="button" onclick="location.href='@Url.Action("userCancelBooking", new { Id = item.Id })'" class="btn btn-danger">Cancel Booking</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
}
</div>


