@model SpaceBook.ViewModels.facilityTimesAndBookingsViewModel

<br />

<div class="container-fluid">
    <div class="col-md-12 justify-content-center d-flex">
        <h2 class="facilityNameLabel">@Model.times.FirstOrDefault().Facility.Name</h2>
    </div>
</div>
<div class="container-fluid">
    <div class="row align-content-center">
        @{
            //gets the current day of the week
            int day_of_week_now = (int)DateTime.Now.DayOfWeek == 0 ? 7 : (int)DateTime.Now.DayOfWeek;

            //uses DateTime.Now to get the current week's monday at 12:00 am
            DateTime refMonday = DateTime.Now.AddDays((Convert.ToInt32(DayOfWeek.Monday) - day_of_week_now));
            refMonday = new DateTime(refMonday.Year, refMonday.Month, refMonday.Day, 0, 0, 0);

            //comparison checks if the selected date is before the current week (Compare < 0)
            //Compare = 0 -> equal, Compare < 0 -> t1 is earlier than t2, Compare > 0 -> t1 is later than t2
            var isCurrentWeek = (bool)(DateTime.Compare(Model.selectedDateMonday, refMonday) <= 0);
        }
        <div class="col-md-1 justify-content-start d-flex">
            <!--disables the "prev" button if it is the current week since you cannot make bookings in the past-->
            @if (isCurrentWeek)
            {
                <button href="#" disabled="disabled" id="weekNavPrev" class="weekNav btn btn-primary"><</button>

            }
            else
            {
                @Html.ActionLink("<", "ViewFacilityAvailability", new { facilityId = Model.times.FirstOrDefault().FacilityId, dateMondayString = Model.selectedDateMonday.AddDays(-7).ToString() }, new { @class = "weekNav btn btn-primary", @style = "color:white", @id = "weekNavPrev" })
            }
        </div>
        <div class="col-md-10 justify-content-center d-flex">
            @if (isCurrentWeek)
            {
                <h3 class="justify-content-center" id="currentDateText" data-dateString="@Model.selectedDateMonday.ToString()">@((Model.selectedDateMonday.AddDays(day_of_week_now - 1)).ToString("D"))</h3>
            }
            else
            {
                <h3 class="justify-content-center" id="currentDateText" data-dateString="@Model.selectedDateMonday.ToString()">@Model.selectedDateMonday.ToString("D")</h3>
            }
        </div>
        <div class="col-md-1 justify-content-end d-flex">
            @Html.ActionLink(">", "ViewFacilityAvailability", new { facilityId = Model.times.FirstOrDefault().FacilityId, dateMondayString = Model.selectedDateMonday.AddDays(7).ToString() }, new { @class = "weekNav btn btn-primary", @style = "color:white", @id = "weekNavNext" })
        </div>
    </div>
</div>

<div class="container-fluid">
    <table style="float:left" class="table table-borderless col-md-12 table-md d-flex justify-content-center">
        <tr class="row align-content-center">
            <th>
                @if (1 < day_of_week_now && DateTime.Compare(Model.selectedDateMonday, refMonday) <= 0)
                {
                    <button href="#" disabled="disabled" id="Monday" class="showTimes btn btn-md btn-primary" data-facilityID="@Model.times.FirstOrDefault().FacilityId" data-day="1">Monday</button>
                }
                else
                {
                    <button href="#" background-color="red" id="Monday" class="showTimes btn btn-md btn-primary" data-facilityID="@Model.times.FirstOrDefault().FacilityId" data-day="1">Monday</button>
                }
                @if (2 < day_of_week_now && DateTime.Compare(Model.selectedDateMonday, refMonday) <= 0)
                {
                    <button href="#" disabled="disabled" id="Tuesday" class="showTimes btn btn-md btn-primary" data-facilityID="@Model.times.FirstOrDefault().FacilityId" data-day="2">Tuesday</button>
                }
                else
                {
                    <button href="#" id="Tuesday" class="showTimes btn btn-md btn-primary" data-facilityID="@Model.times.FirstOrDefault().FacilityId" data-day="2">Tuesday</button>
                }
                @if (3 < day_of_week_now && DateTime.Compare(Model.selectedDateMonday, refMonday) <= 0)
                {
                    <button href="#" disabled="disabled" id="Wednesday" class="showTimes btn btn-md btn-primary" data-facilityID="@Model.times.FirstOrDefault().FacilityId" data-day="3">Wednesday</button>
                }
                else
                {
                    <button href="#" id="Wednesday" class="showTimes btn btn-md btn-primary" data-facilityID="@Model.times.FirstOrDefault().FacilityId" data-day="3">Wednesday</button>
                }
                @if (4 < day_of_week_now && DateTime.Compare(Model.selectedDateMonday, refMonday) <= 0)
                {
                    <button href="#" disabled="disabled" id="Thursday" class="showTimes btn btn-md btn-primary" data-facilityID="@Model.times.FirstOrDefault().FacilityId" data-day="4">Thursday</button>
                }
                else
                {
                    <button href="#" id="Thursday" class="showTimes btn btn-md btn-primary" data-facilityID="@Model.times.FirstOrDefault().FacilityId" data-day="4">Thursday</button>
                }
                @if (5 < day_of_week_now && DateTime.Compare(Model.selectedDateMonday, refMonday) <= 0)
                {
                    <button href="#" disabled="disabled" id="Friday" class="showTimes btn btn-md btn-primary" data-facilityID="@Model.times.FirstOrDefault().FacilityId" data-day="5">Friday</button>
                }
                else
                {
                    <button href="#" id="Friday" class="showTimes btn btn-md btn-primary" data-facilityID="@Model.times.FirstOrDefault().FacilityId" data-day="5">Friday</button>
                }
                @if (6 < day_of_week_now && DateTime.Compare(Model.selectedDateMonday, refMonday) <= 0)
                {
                    <button href="#" disabled="disabled" id="Saturday" class="showTimes btn btn-md btn-primary" data-facilityID="@Model.times.FirstOrDefault().FacilityId" data-day="6">Saturday</button>
                }
                else
                {
                    <button href="#" id="Saturday" class="showTimes btn btn-md btn-primary" data-facilityID="@Model.times.FirstOrDefault().FacilityId" data-day="6">Saturday</button>
                }
                @if (7 == day_of_week_now && DateTime.Compare(Model.selectedDateMonday, refMonday) <= 0)
                {
                    <button href="#" id="Sunday" class="showTimes btn btn-md btn-primary" data-facilityID="@Model.times.FirstOrDefault().FacilityId" data-day="7">Sunday</button>
                }
                else
                {
                    <button href="#" id="Sunday" class="showTimes btn btn-md btn-primary" data-facilityID="@Model.times.FirstOrDefault().FacilityId" data-day="7">Sunday</button>
                }
            </th>
        </tr>
    </table>
</div>
<div class="justify-content-center" id="showPartialView">
    <!--if the current week is the same as the selected week, the partial view for the current date will be generated-, otherwise the partial view for the monday of that week will be generated-->
    @Html.Action("PartialViewTimes", "Home", new { facilityId = Model.times.FirstOrDefault().FacilityId, dateMondayString = Model.selectedDateMonday.ToString(), day = isCurrentWeek == true ? day_of_week_now : 1 })
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.showTimes').click(function () {

            var $buttonClicked = $(this);

            //selection is indicated by button color so the focus indicator is removed
            $buttonClicked.blur();

            //resets all weekday buttons to their original color
            $('.showTimes').css("background-color", "#007bff");
            //changes the selected button color to red
            $buttonClicked.css("background-color", "red");

            var day = $buttonClicked.attr('data-day');
            var facilityId = $buttonClicked.attr('data-facilityId');
            var date = "@Model.selectedDateMonday.ToString()";

            //makes date readable for users, updates date to reflect currently selected day of the week
            var dateJS = new Date(Date.parse($('#currentDateText').attr('data-dateString')));
            dateJS.setDate(dateJS.getDate() + parseInt(day) - 1);
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            var dateText = days[(day == 7 ? 0 : day)] + ", " + months[dateJS.getMonth()] + " " + dateJS.getDate().toString() + ", " + dateJS.getFullYear();
            $('#currentDateText').text(dateText);

            $.ajax({
                url: '@Url.Action("PartialViewTimes")',
                type: 'GET',
                data: { day: day, facilityId: facilityId, dateMondayString : date},
                success: function (partialView) {
                    $('#showPartialView').html(partialView);
                    $('#showPartialView').show();
                    }
                });

            });
        });
</script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(document).ready(function () {

            //stores c# values found at the time of the page loading
            var day_comp = "@day_of_week_now.ToString()";
            var isCurrentWeek_comp = "@isCurrentWeek.ToString()";

            //formats the date in a readable format as a string
            var date = new Date(Date.parse($('#currentDateText').attr('data-dateString')));
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            var dateText = days[date.getDay()] + ", " + months[date.getMonth()] + " " + date.getDate().toString() + ", " + date.getFullYear();

            //resets all weekday buttons to their original color
            $('.showTimes').css("background-color", "#007bff");
            //if the current week is not the same as the selected week, Monday will be highlighted by default
            if (isCurrentWeek_comp == "False") {
                $('#Monday').css("background-color", "red");
                $('#currentDateText').text(dateText);
            }
            //If the current week is also the same as the selected week, the button highlighted will correspond to the current day
            else if (isCurrentWeek_comp == "True") {
                if(day_comp == "1")
                    $('#Monday').css("background-color", "red");
                else if (day_comp == "2")
                    $('#Tuesday').css("background-color", "red");
                else if (day_comp == "3")
                    $('#Wednesday').css("background-color", "red");
                else if (day_comp == "4")
                    $('#Thursday').css("background-color", "red");
                else if (day_comp == "5")
                    $('#Friday').css("background-color", "red");
                else if (day_comp == "6")
                    $('#Saturday').css("background-color", "red");
                else if (day_comp == "7")
                    $('#Sunday').css("background-color", "red");
            }
        });
    });
</script>

<style>
    .facilityNameLabel {
        color: #1E1EBE !important;
    }
</style>