@model IEnumerable<SpaceBook.Models.FacilityTime>

<br />

<h2>@Model.FirstOrDefault().Facility.Name</h2>

<table class="table">
    <tr>
        <th>
            <button href="#" class="showTimes btn btn-primary" data-facilityID="@Model.FirstOrDefault().FacilityId" data-day="1">Monday</button>
            <button href="#" class="showTimes btn btn-primary" data-facilityID="@Model.FirstOrDefault().FacilityId" data-day="2">Tuesday</button>
            <button href="#" class="showTimes btn btn-primary" data-facilityID="@Model.FirstOrDefault().FacilityId" data-day="3">Wednesday</button>
            <button href="#" class="showTimes btn btn-primary" data-facilityID="@Model.FirstOrDefault().FacilityId" data-day="4">Thursday</button>
            <button href="#" class="showTimes btn btn-primary" data-facilityID="@Model.FirstOrDefault().FacilityId" data-day="5">Friday</button>
            <button href="#" class="showTimes btn btn-primary" data-facilityID="@Model.FirstOrDefault().FacilityId" data-day="6">Saturday</button>
            <button href="#" class="showTimes btn btn-primary" data-facilityID="@Model.FirstOrDefault().FacilityId" data-day="7">Sunday</button>
            @*<button type="button" onclick="location.href='@Url.Action("PartialViewTimes", "Home")'" class="btn btn-primary">Tuesday</button>*@
        </th>
    </tr>
</table>

<div id="showPartialView" style="display:none">
    @Html.Partial("PartialViewTimes", Model)
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.showTimes').click(function () {
            var $buttonClicked = $(this);
            var day = $buttonClicked.attr('data-day');
            var facilityId = $buttonClicked.attr('data-facilityId');
            $.ajax({
                url: '@Url.Action("PartialViewTimes")',
                type: 'GET',
                data: { day: day, facilityId : facilityId },
                success: function (partialView) {
                    $('#showPartialView').html(partialView);
                    $('#showPartialView').show();
                }
            });
        });
    });
</script>
