@model SpaceBook.Models.User

@{
    ViewBag.Title = "ViewUserProfile";
}

<h2>
    @Html.DisplayFor(model => model.FirstName)
    @Html.DisplayFor(model => Model.LastName)
</h2>

<div>
    <div class="col-md-10">
        <img class="card-img-top" src="~/Content/ProfilePics/@(Model.ProfilePicFilename)" alt="Profile_Pic" height="300" width="42" />
    </div>
    <div class="col-md-10">
        <label>Phone Number: </label>
        @Html.DisplayFor(model => model.Phone)
    </div>
    <div class="col-md-10">
        <label>Email Address: </label>
        @Html.DisplayFor(model => model.Email)
    </div>

    <button type="button" onclick="location.href='@Url.Action("EditUserProfile")'" class="btn btn-primary">Edit Profile</button>
</div>
