@model IEnumerable<SpaceBook.Models.FacilityTime>
<br />

<h2>@Model.FirstOrDefault().Facility.Name</h2>
<table class="table">
    <tr>
        <th>
            Times
        </th>
        <th>
            Day
        </th>
        <th>
            Rate
        </th>
        <th>
            IsAvailable
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAvailable)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
