<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @* NOTE: Make sure the lines below do not break any parts of application *@
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-2.2.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.css" type="text/css" />
</head>
<body>
    @if (Session["UserID"] != null)
    {
        <nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">SpaceBook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("RegisterFacility", "Home")">Register a Facility</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ViewUserProfile", "Home")">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ViewBookings", "Home", "")">Bookings</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">For Owners<span class="caret"></span></a>
                    <ul class="nav-item dropdown-menu bg-dark" role="menu">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("OwnerViewBookings", "Home", "")">Facility Bookings (currently bugged)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ViewOwnerFacilities", "Home")">View Facilities</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Logout", "Home")">Logout</a></li>
            </ul>
        </nav>
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
